<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/templates/scripts/jquery/jquery-1.7.1.js"></script>
<link href="/templates/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="/templates/style/authority/common_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/templates/scripts/authority/commonAll.js"></script>
<script type="text/javascript" src="/templates/scripts/jquery/jquery-1.4.4.min.js"></script>
<script src="/templates/scripts/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="/templates/scripts/artDialog/artDialog.js?skin=default"></script>
<script type="text/javascript" src="/templates/scripts/laydate/laydate.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		/*
		 * 提交
		 */
		$("#submitbutton").click(function() {
			$("#submitbutton").attr('disabled', 'disabled');
			if(validateForm()){
				checkFyFhSubmit();
			}
		});

		
		/*
		 * 取消
		 */
		$("#cancelbutton").click(function() {
			/**  关闭弹出iframe  **/
			window.parent.$.fancybox.close();
		});
		
		var result = 'null';
		if(result =='success'){
			/**  关闭弹出iframe  **/
			window.parent.$.fancybox.close();
		}
	});
	

	
	/** 检测房源房号是否存在并提交form  **/
	function checkFyFhSubmit(){

		$("#submitForm").submit();
	}



	/** 表单验证  **/
	function validateForm(){

		if($("#fyZldz3").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写唯一标识', ok:true,});
			return false;
		}
		if($("#fyZldz7").val()==""){
			art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'填写日期', ok:true,});
			return false;
		}
		return true;
	}
</script>
</head>
<body>
<form id="submitForm" name="submitForm" action="/getMobileAndUser" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>
	<div id="container">
		<div id="nav_links">
			<div id="page_close">
				<a href="javascript:parent.$.fancybox.close();">
					<img src="/templates/images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
				</a>
			</div>
		</div>
		<div class="ui_content">
			<table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
				<tr>
					<td class="ui_text_rt">产品唯一标识</td>
					<td class="ui_text_lt">
						<input type="text" id="fyZldz3" maxlength="5" name="proId" th:value="" class="ui_input_txt02"/>
					</td>
				</tr>
				<tr>
					<td class="ui_text_rt">选择时间</td>
					<td class="ui_text_lt">
						<input type="text" id="fyZldz7"  name="chooseTime" value="" class="ui_input_txt02"/>
						<span class="laydate-icon" onclick="laydate({elem: '#fyZldz7'});"></span>
					</td>
				</tr>
				
				
				<tr>
					<td>&nbsp;</td>
					<td class="ui_text_lt">
						&nbsp;<input id="submitbutton" type="button" value="导出" class="ui_input_btn01"/>
						&nbsp;<input id="cancelbutton" type="button" value="取消" class="ui_input_btn01"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>