<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunantongxinqianjin.web.mapper.ProductMapper">
    <resultMap type="cn.hunantongxinqianjin.web.entity.Product" id="productMap">
        <result column="id" property="id"/>
        <result column="topic" property="topic"/>
        <result column="message" property="message"/>
        <result column="is_delete" property="isDelete"/>
        <result column="product_url" property="productUrl"/>
        <result column="product_name" property="productName"/>
        <result column="img_url" property="imgUrl"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

    </resultMap>

    <select id="getAllProducts" resultMap="productMap">
        SELECT * FROM product where is_delete=0 order by updated_at desc

    </select>

    <select id="getProductByPage" resultMap="productMap">
        SELECT * FROM product  order by created_at limit #{1},#{0}
    </select>

    <select id="getAllProductCount" resultType="java.lang.Integer">
        SELECT count(*) FROM product
    </select>

    <insert id="addProduct">
        INSERT INTO product(topic,message,is_delete,product_url,product_name,img_url,created_at,updated_at) VALUES (#{topic},#{message},0,#{productUrl},#{productName},#{imgUrl},now(),now())
    </insert>

    <update id="modifyProduct">
        UPDATE product SET
        <if test="message!=null">
            message=#{message},
        </if>
        <if test="productName!=null">
            product_name=#{productName},
        </if>
        <if test="imgUrl!=null">
            img_url=#{imgUrl},
        </if>
        <if test="topic!=null">
            topic=#{topic},
        </if>
        <if test="productUrl!=null">
            product_url=#{productUrl},
        </if>
        updated_at=now()
        where id = #{id}
    </update>

    <select id="getProductById" resultMap="productMap">
        SELECT * FROM product where id=#{0}
    </select>

    <update id="modifyProState">
        UPDATE product SET is_delete=#{0} where id=#{1}
    </update>

</mapper>

