<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunantongxinqianjin.web.mapper.RecordMapper">
    <resultMap type="cn.hunantongxinqianjin.web.entity.Record" id="recordMap">
        <result column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="product_id" property="productId"/>
        <result column="click_num" property="clickNum"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

    </resultMap>
    <insert id="addRecord">
        INSERT into record(ip,product_id,created_at,updated_at) VALUES (#{1},#{0},now(),now())
    </insert>

    <select id="getRecordByDateAndIp" resultMap="recordMap">
        SELECT * FROM record where ip=#{0} and date(created_at)=date(now()) and product_id=#{1}
    </select>

    <select id="getCountByPro" resultType="java.lang.Integer">
        SELECT count(*) FROM record where product_id=#{0}
        <if test="param2=='day' ">
          AND date(created_at)=date(now())
        </if>
        <if test="param2=='mon' ">
            AND EXTRACT(MONTH FROM created_at) = EXTRACT(MONTH FROM now()) AND EXTRACT(YEAR FROM created_at) = EXTRACT(YEAR FROM now())
        </if>
        <if test="param2=='year' ">
            AND EXTRACT(YEAR FROM created_at) = EXTRACT(YEAR FROM now())
        </if>
    </select>

    <select id="getCountByProAndType" resultType="java.lang.Integer">
        SELECT count(*) FROM record where product_id=#{0}
        <if test="param2=='mon' ">
            AND created_at > DATE_SUB(now(),INTERVAL 30 MONTH)
        </if>
    </select>




</mapper>

