<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunantongxinqianjin.web.mapper.UserInfoMapper">
    <resultMap type="cn.hunantongxinqianjin.web.entity.UserInfo" id="userInfoMap">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>

    </resultMap>

    <select id="getUserByPasswordAndName" resultMap="userInfoMap">
        SELECT * from user_info where user_name=#{0} AND password=#{1}
    </select>






</mapper>

