<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunantongxinqianjin.web.mapper.UserOpenMapper">
    <resultMap type="cn.hunantongxinqianjin.web.entity.UserOpen" id="userOpenMap">
        <result column="id" property="id"/>
        <result column="u_name" property="uName"/>
        <result column="u_phone" property="uPhone"/>
        <result column="pro_id" property="proId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

    </resultMap>

    <insert id="addMobileAndUser">
        INSERT INTO user_open(u_name,u_phone,pro_id,created_at,updated_at) VALUES (#{1},#{0},#{2},now(),now())
    </insert>

    <select id="getMobileAndUser" resultMap="userOpenMap">
        SELECT * from user_open WHERE date(created_at) = date(#{0})
    </select>







</mapper>

